@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  --main-color: #0f131a;
  color: #ffff;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  --ladybug: #D03612;
  --area-color: #06070a;
  --danger: #df4759;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 150px;
}

.box {
  background-color: var(--ladybug);
  position: fixed;
  border-radius: 50%;
  z-index: -1;
}

a {
  text-decoration: none;
}

/* Header  --------------------------------- */
.companyname {
  background-color: var(--ladybug);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.logo {
  height: 55px;
  width: auto;
}

.align {
  padding-top: 10px;
}
.align h1 {
  color: white;
  text-transform: uppercase;
}

.pagetitle {
  background-color: var(--ladybug);
  border-radius: 0 5px 5px 0;
  margin-bottom: 35px;
}
.pagetitle h2 {
  font-size: 2rem;
  padding-left: 10px;
}

.style-header {
  background-color: white;
  color: black;
  padding-top: 1px;
  height: 30px;
  margin-bottom: 20px;
}

.center-div {
  margin: 20px auto 0;
  width: 90%;
}

.btn-search {
  width: 60px;
  background-color: white;
  border-color: white;
}

.btn-plus {
  margin-left: 80px;
}
.btn-plus svg {
  fill: white;
}

/* Index Main  --------------------------------- */
.cont-filter {
  overflow: hidden;
}

.filterDiv {
  float: left;
  display: none;
}

.show {
  display: block;
}

.img-size {
  width: 265px;
  height: 265px;
}
.img-size .img-annonce {
  width: 265px;
  height: 265px;
  border: 2px solid var(--ladybug);
}

.center-annonce {
  margin-top: 65px;
}
.center-annonce a {
  color: white;
}

.ann-size {
  width: 265px;
  background-color: var(--area-color);
  margin-top: 10px;
  border: 2px solid var(--ladybug);
  padding-left: 5px;
  min-height: 129px;
}

.price::after {
  content: " €";
}

.category {
  cursor: pointer;
  color: black;
}

.category::after {
  content: "";
  background-image: url(medias/cat-menu.png);
  background-size: 100% 100%;
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  top: -22px;
  right: -240px;
  cursor: pointer;
}

.sidebar {
  background-color: white;
  color: black;
  height: 90vh;
  width: 300px;
  position: absolute;
  top: 100px;
  right: -500px;
  line-height: 50px;
  font-size: 1.7rem;
  transition: 0.8s ease-in-out;
  padding: 5px;
}
.sidebar .close {
  cursor: pointer;
}
.sidebar a {
  color: black;
}
.sidebar ul {
  list-style: none;
}

.sidebar-toggle {
  transition: 0.8s ease-in-out;
  right: 0;
}

/* details -----------------------*/
.redirect {
  margin-left: 150px;
}
.redirect svg {
  fill: var(--danger);
}

.detail-img-size {
  width: 265px;
  height: 265px;
}
.detail-img-size .detail-img-annonce {
  width: 265px;
  height: 265px;
  border: 2px solid var(--ladybug);
}

.seller-infos svg {
  fill: white;
}

.detail-titre {
  text-transform: capitalize;
  font-size: 1.7rem !important;
  text-align: center;
  margin-bottom: 50px;
  color: white !important;
  max-width: 260px;
  width: 100%;
}

.seeDetails h3 {
  font-size: 1.2rem;
  color: var(--ladybug);
  font-weight: bold;
  text-transform: capitalize;
}

.cat-filter {
  margin-top: 5px;
  width: 200px;
}

.details-size {
  width: 265px;
  background-color: var(--area-color);
  margin-top: 10px;
  border: 2px solid var(--ladybug);
  padding-left: 5px;
  margin-bottom: 10px;
}

.btn-dwl {
  width: 265px;
}
.btn-dwl svg {
  fill: white;
}

/* Form ----------------------*/
.form-control {
  background-color: #06070a;
  border-color: var(--ladybug);
  color: white;
}
.form-control:focus {
  background-color: #090c10;
  border-color: var(--ladybug);
  color: white;
}

.add-form label {
  font-size: 1.5rem;
}
.add-form label span {
  color: var(--ladybug);
}

.upload {
  margin: 5px auto 10px;
}

.submit {
  margin-top: 50px;
}

.btn-submit {
  margin-bottom: 30px;
}

.btn-bin svg {
  fill: var(--danger);
}

/* Footer  ------------------------*/
footer {
  text-align: center;
  width: 100%;
  background-color: var(--ladybug);
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
footer p {
  padding-top: 10px;
}
footer p span {
  color: black;
  font-style: italic;
}

@media only screen and (min-width: 576px) {
  .companyname {
    margin-bottom: 35px;
  }

  .logo {
    height: 65px;
    width: auto;
  }

  .center-annonce {
    margin: 65px auto 0px;
  }

  .align h1 {
    text-align: center;
    font-size: 3rem;
  }

  .pagetitle {
    border-radius: 0 5px 5px 0;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: -15px;
  }
  .pagetitle h2 {
    font-size: 3rem;
    text-align: center;
  }

  .center-div {
    margin: 20px auto 0px;
    width: 80%;
  }
  .center-div .btn {
    width: 405px;
  }

  .search {
    width: 321px;
  }

  .redirect {
    position: absolute;
    right: 50px;
  }
  .redirect svg {
    transform: scale(1.5);
    margin-top: 35px;
  }

  .detail-img-size {
    margin: auto;
    width: 400px;
    height: 400px;
  }
  .detail-img-size .detail-img-annonce {
    width: 400px;
    height: 400px;
    border: 2px solid var(--ladybug);
  }

  .details-size {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-dwl {
    width: 400px;
  }

  .p-btn-dwl {
    width: 400px;
    margin: auto;
  }

  .category::after {
    right: -320px;
  }
}
@media only screen and (min-width: 768px) {
  .companyname {
    margin-bottom: 35px;
  }

  .logo {
    height: 65px;
    width: auto;
  }

  .center-annonce {
    margin: 65px auto 0px;
  }

  .align h1 {
    text-align: center;
    font-size: 3rem;
  }

  .pagetitle {
    border-radius: 0 5px 5px 0;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: -15px;
  }
  .pagetitle h2 {
    font-size: 3rem;
    text-align: center;
  }

  .center-div {
    margin: 20px auto 0px;
    width: 50%;
  }
  .center-div .btn {
    width: 343px;
  }

  .search {
    width: 259px;
  }

  .redirect {
    position: absolute;
    right: 50px;
  }
  .redirect svg {
    transform: scale(1.5);
    margin-top: 35px;
  }

  .detail-img-size {
    margin: auto;
    width: 400px;
    height: 400px;
  }
  .detail-img-size .detail-img-annonce {
    width: 400px;
    height: 400px;
    border: 2px solid var(--ladybug);
  }

  .details-size {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-dwl {
    width: 400px;
  }

  .p-btn-dwl {
    width: 400px;
    margin: auto;
  }

  .category::after {
    right: -300px;
  }
}
@media only screen and (min-width: 992px) {
  .companyname {
    margin-bottom: 35px;
  }

  .logo {
    height: 65px;
    width: auto;
  }

  .align h1 {
    text-align: center;
    font-size: 3rem;
  }

  .pagetitle {
    border-radius: 0 5px 5px 0;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: -5px;
  }
  .pagetitle h2 {
    font-size: 3rem;
    text-align: center;
  }

  .center-div {
    margin: 20px auto 0px;
    width: 35%;
  }
  .center-div .btn {
    width: 321px;
  }

  .search {
    width: 237px;
  }

  .redirect {
    position: absolute;
    right: 50px;
  }
  .redirect svg {
    transform: scale(1.5);
    margin-top: 35px;
  }

  .detail-img-size {
    width: 400px;
    height: 400px;
  }
  .detail-img-size .detail-img-annonce {
    width: 400px;
    height: 400px;
    border: 2px solid var(--ladybug);
  }

  .details-size {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-dwl {
    width: 400px;
    margin: auto;
  }

  .category::after {
    right: -280px;
  }
}
@media only screen and (min-width: 1200px) {
  .companyname {
    margin-bottom: 35px;
  }

  .logo {
    height: 65px;
    width: auto;
  }

  .align h1 {
    text-align: center;
    font-size: 3rem;
  }

  .pagetitle {
    background-color: var(--ladybug);
    border-radius: 5px;
    margin-bottom: 35px;
    margin-top: 35px;
  }
  .pagetitle h2 {
    font-size: 3rem;
    text-align: center;
  }

  .center-div {
    margin: 20px auto 0px;
    width: 30%;
  }
  .center-div .btn {
    width: 386px;
  }

  .search {
    width: 302px;
  }

  .redirect {
    position: absolute;
    right: 50px;
  }
  .redirect svg {
    transform: scale(1.5);
    margin-top: 35px;
  }

  .detail-img-size {
    width: 650px;
    height: 650px;
  }
  .detail-img-size .detail-img-annonce {
    width: 650px;
    height: 650px;
    border: 2px solid var(--ladybug);
  }

  .details-size {
    width: 350px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .btn-dwl {
    width: 350px;
  }

  .p-btn-dwl {
    margin: 0;
  }

  .category::after {
    right: -320px;
  }
}

/*# sourceMappingURL=style.css.map */
