@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  --main-color: #0f131a;
  color: #ffff;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  --ladybug: #D03612;
  --area-color: #06070a;
  --danger: #df4759;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 150px;
}

.box {
  background-color: var(--ladybug);
  position: fixed;
  border-radius: 50%;
  z-index: -1;
}

a {
  text-decoration: none;
}

/* Header  --------------------------------- */
.companyname {
  background-color: var(--ladybug);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.logo {
  height: 55px;
  width: auto;
}

.align {
  padding-top: 10px;
}
.align h1 {
  color: white;
  text-transform: uppercase;
}

.pagetitle {
  background-color: var(--ladybug);
  border-radius: 0 5px 5px 0;
  margin-bottom: 35px;
}
.pagetitle h2 {
  font-size: 2rem;
  padding-left: 10px;
}

.style-header {
  background-color: white;
  color: black;
  padding-top: 1px;
  height: 30px;
  margin-bottom: 20px;
}

.center-div {
  margin: 20px auto 0;
  width: 90%;
}

.btn-search {
  width: 60px;
  background-color: white;
  border-color: white;
}

.btn-plus {
  margin-left: 80px;
}
.btn-plus svg {
  fill: white;
}

/* Index Main  --------------------------------- */
.img-size {
  width: 265px;
  height: 265px;
}
.img-size .img-annonce {
  width: 265px;
  height: 265px;
  border: 2px solid var(--ladybug);
}

.center-annonce {
  margin-top: 65px;
}
.center-annonce a {
  color: white;
}

.ann-size {
  width: 265px;
  background-color: var(--area-color);
  margin-top: 10px;
  border: 2px solid var(--ladybug);
  padding-left: 5px;
}

/* details -----------------------*/
.redirect {
  margin-left: 150px;
}
.redirect svg {
  fill: var(--danger);
}

.detail-img-size {
  width: 265px;
  height: 265px;
}
.detail-img-size .detail-img-annonce {
  width: 265px;
  height: 265px;
  border: 2px solid var(--ladybug);
}

.seller-infos svg {
  fill: white;
}

.seeDetails h3 {
  font-size: 1.2rem;
  color: var(--ladybug);
  font-weight: bold;
}

.cat-filter {
  margin-top: 5px;
  width: 90px;
}

.details-size {
  width: 265px;
  background-color: var(--area-color);
  margin-top: 10px;
  border: 2px solid var(--ladybug);
  padding-left: 5px;
}

/* Form ----------------------*/
.form-control {
  background-color: #06070a;
  border-color: var(--ladybug);
  color: white;
}
.form-control:focus {
  background-color: #090c10;
  border-color: var(--ladybug);
  color: white;
}

.add-form label {
  font-size: 1.5rem;
}
.add-form label span {
  color: var(--ladybug);
}
.add-form input:invalid {
  content: "Les champs avec un * doivent être remplis";
}

.upload {
  margin: 5px auto 10px;
}

.submit {
  margin-top: 50px;
}

.btn-submit {
  margin-bottom: 30px;
}

.btn-bin svg {
  fill: var(--danger);
}

/* Footer  ------------------------*/
footer {
  text-align: center;
  width: 100%;
  background-color: var(--ladybug);
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
footer p {
  padding-top: 10px;
}
footer p span {
  color: black;
  font-style: italic;
}

@media only screen and (min-width: 1200px) {
  .detail-img-size {
    width: 600px;
    height: 600px;
  }
  .detail-img-size .detail-img-annonce {
    width: 600px;
    height: 600px;
    border: 2px solid var(--ladybug);
  }

  .details-size {
    width: 350px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
